{
    "url": {
        "PROD": "https://example.com/api",
        "DEV": "https://dev.example.com/api",
        "LOCAL": "http://localhost:8000/api"
    },
    "requests": {
        "request_name": {
            "endpoint": "endpoint",
            "method": "POST",
            "id": 1256,
            "parameters": {
                "paramName": "paramValue"
            },
            "headers": {
                "Accept": "application/json",
                "ContentType": "application/json",
                "X-Custom-Header": "Custom Header"
            },
            "basicAuth": {
                "username": "user",
                "password": "password"
            },
            "body": {
                "id": 1,
                "attr": "value"
            }
        }
    }
}