{
    "url": {
        "PROD": "https://example.com/api",
        "DEV": "https://dev.example.com/api",
        "LOCAL": "http://localhost:8000/api"
    },
    "common": {
        "parameters": {
            "paramName": "paramValue"
        },
        "headers": {
            "Api-Key": "key"
        },
        "basicAuth": {
            "username": "user",
            "password": "password"
        }
    },
    "requests": {
        "request_name": {
            "endpoint": "endpoint [required]",
            "method": "POST [required]",
            "id": 1256,
            "parameters": {
                "paramName": "paramValue"
            },
            "headers": {
                "Accept": "application/json",
                "ContentType": "application/json",
                "X-Custom-Header": "Custom Header"
            },
            "basicAuth": {
                "username": "user",
                "password": "password"
            },
            "body": {
                "id": 1,
                "attr": "value"
            },
            "mode": "LOCAL"
        }
    }
}